@font-face {
    font-family: 'LogoFont';
    /* font-weight: lighter; */
    src: local('LogoFont'), url(../font/maketa-it-font/MaketaItNormalItalic-vn5JM.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'SevenSegment';
    /* font-weight: lighter; */
    src: local('SevenSegment'), url(../font/7segment.ttf) format('truetype');
  }